#TVchoices, h1 {
    font-family: Verdana;
    color: red;
    text-align: center;
    font-size: 15px;
}
body {
    background-image: url(https://media.zenfs.com/en_US/Entertainment/Variety/nbc-universal-logo.jpg);
    background-size: 100%;
}
button {
    border-radius: 20px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    size: 4px;
}
#reset {
    margin-top: 24px;
}
#submitChoices {
    margin-top: 216px;
}
#package {
    margin-top: 72px;
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -ms-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s;
}
@keyframes fadein {
    from {opacity: 0; }
    to {opacity: 1; }
}
@-webkit-keyframes fadein {
    from {opacity: 0; }
    to {opacity: 1; }
}
@-moz-keyframes fadein {
    from {opacity: 0; }
    to {opacity: 1; }
}
@-ms-keyframes fadein {
    from {opacity: 0; }
    to {opacity: 1; }
}
@-o-keyframes fadein {
    from {opacity: 0; }
    to {opacity: 1; }
}